<!DOCTYPE html>
<html lang="en">

<head>
    <title>글쓰기</title>
</head>

<body>
    <h1>글쓰기</h1>
    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <div>
            <label for="">제목</label>
            <input type="text" name="title">
        </div>
        <div>
            <label for="">내용</label>
            <textarea name="content"></textarea>
        </div>
        <div>
            <label for="">작성자</label>
            <input type="text" name="created_by">
        </div>
        <input type="submit" value="등록하기">
    </form>
</body>

</html>